<!-- Podcast library search -->

<section id=podcast library filters class="section">
    <h1 class="is-size-4 has-text-centered">Podcast Library</h1>
    <div class="column">
       <h4>Filter by any of the following, you can select multiple</h4>
        <SELECT name="genre">
            <option value='' selected>Genre </option>
            <option value='blue'>Murder</option>
            <option value='green'>Pop Culture</option>
            <option value='red'>News</option>
            <option value='yellow'>Kid Friendly</option>
        </SELECT>
         <!--Replace titles with a distinct list of podcast titles-->
        <SELECT name="podcast title">
            <option value='' selected>Podcast Title </option>
            <option value='blue'>Podcast 1</option>
            <option value='green'>Podcast 2</option>
            <option value='red'>Podcast 3</option>
            <option value='yellow'>Podcast 4</option>
            <option value='white'>Podcast 5</option>
        </SELECT>
        <!--Replace titles with a generated list of distinct titles-->
        <SELECT name="episode title">
            <option value='' selected>Episode Title</option>
            <option value='A'>Episode A</option>
            <option value='B'>Episode B</option>
            <option value='C'>Episode C</option>
            <option value='D'>Episode D</option>
            <option value='E'>Episode E</option>
        </SELECT>
        <SELECT name="rating">
            <option value='' selected>Rating</option>
            <option value='One Star'>One Star</option>
            <option value='Two Stars'>Two Stars</option>
            <option value='Three Stars'>Three Stars</option>
            <option value='Four Stars'>Four Stars</option>
            <option value='Five Stars'>Five Stars</option>
        </SELECT>
    </div>
















<