<!-- Podcast Details -->

<section id="pod-details" class="section">
  <div class="columns">
    <div class="column box is-info is-10 is-offset-1 has-background-white-bis">
      <h2 class="is-size-3 has-text-centered">[podcast title]</h2>
      <div class="columns">
        <div
          class="column is-narrow is-flex center-in-col podcast_details__img_col"
        >
          <div class="levels">
            <figure class="level image is-300x300">
              <img
                src="https://via.placeholder.com/300"
                alt="Cover artwork of [podcast title]"
              />
            </figure>
            <div class="tags">
              <span class="tag">
                [Apple Podcasts]
              </span>
              <span class="tag">
                [Google Podcasts]
              </span>
              <span class="tag">
                [Spotify]
              </span>
              <span class="tag">
                [Stitcher]
              </span>
              <span class="tag">
                [RSS]
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column is-flex center-in-col podcast_details__desc_col">
            <p id="stars">
              <i class="las la-star" aria-hidden="true"></i>[# of stars]
            </p>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <p id="rating" class="info-heading">Rating: [rating data]</p>
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-primary">[tag data]</span>
                    <span class="tag is-dark">2</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div id="creator">
                <p class="info-heading">Created by:</p>
                <p>[creator data]</p>
              </div>
            </div>
          </div>
          <div class="column">
            <p id="description">
              [decription data]
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div class="section podcast_details__review_buttons">
        <div class="buttons is-pulled-right">
          <button id="review" class="button">
            <i class="las la-plus-circle"></i> Add to Listen Later shelf
          </button>
          <button id="review" class="button is-info">
            Review Podcast
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Review List -->

<section id="reviews" class="section">
  <!-- Review entry -->
  <div id="review" class="column box is-8 is-offset-2">
    <p>[user name] Review</p>
    <p>Rating: 5</p>
    <p>Love it!</p>
  </div>
</section>
