<!-- Podcast Details -->

<section id="pod-details" class="section">
  <div class="columns">
    <div class="column box is-info is-10 is-offset-1">
      <h2 class="is-size-3 has-text-centered">[podcast title]</h2>
      <div class="columns">
        <div
          class="column is-narrow is-flex center-in-col podcast_details__img_col"
        >
          <div class="levels">
            <figure class="level image is-300x300">
              <img
                src="https://via.placeholder.com/300"
                alt="Cover artwork of [podcast title]"
              />
            </figure>
            <div class="tags">
              <span class="tag">
                [Apple Podcasts]
              </span>
              <span class="tag">
                [Google Podcasts]
              </span>
              <span class="tag">
                [Spotify]
              </span>
              <span class="tag">
                [Stitcher]
              </span>
              <span class="tag">
                [RSS]
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="column is-flex center-in-col podcast_details__desc_col">
            <div class="ratings" aria-hidden="true">
              <div class="empty-stars"></div>
              <!-- TODO: calculate width by dividing rating / 5 * 100 -->
              <div class="full-stars" style="width:50%"></div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <p id="rating" class="info-heading">Rating: [rating data]</p>
              <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-primary">[tag data]</span>
                    <span class="tag is-dark">[number]</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div id="creator">
                <p class="info-heading">Created by:</p>
                <p>[creator data]</p>
              </div>
            </div>
          </div>
          <div class="column">
            <p id="description">
              [description data]
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div class="section podcast_details__review_buttons">
        <div class="buttons is-pulled-right">
          <div class="control">
            <button id="later-shelf" class="button" disabled>
              <i class="las la-plus-circle"></i> Add to Listen Later shelf
            </button>
            <button id="review" class="button is-info">
              Review Podcast
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Review List -->

<section id="pod-reviews" class="section">
  <div id="pod-review" class="columns content col-padding">
    <div class="column box has-background-white-bis is-10 is-offset-1">
      <div class="columns">
        <div class="column is-narrow" style="width: 260px;">
          <h3 class="is-size-4">[username]'s Review</h3>
          <div class="ratings" aria-hidden="true">
            <div class="empty-stars"></div>
            <!-- TODO: calculate width by dividing rating / 5 * 100 -->
            <div class="full-stars" style="width:70%"></div>
          </div>
          <p id="tags is-flex center-in-col">
            <span class="tag">
              [tag data]
            </span>
          </p>
        </div>

        <div class="column">
          <p>
            [user submitted review]
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Continue user reviews -->
</section>
