<nav class="navbar is-light">
  <div class="level">
    <div class="level-item">
      <a class="navbar-item" routerLink="">
        <h1 class="title is-size-2">
          <i class="las la-microphone" aria-hidden="true"></i>
          <span>{{ title }}</span>
        </h1>
      </a>
    </div>
    <div class="level-item">
      <div class="navbar-item">
        <div class="field has-addons">
          <p class="control">
            <input
              #search
              id="pr-search"
              class="input"
              type="text"
              size="22"
              name="search"
              placeholder="Podcast title, tag or creator"
              aria-label="Search a podcast by title, tag or creator"
            />
          </p>
          <p class="control">
            <button class="button is-info" (click)="searchAction(search.value)">
              <i class="las la-search" aria-label="Search" title="Search"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="level-item">
      <div class="navbar-item">
        <button id="login" class="button is-primary" (click)="loginAction()">
          <i class="las la-user-circle" aria-hidden="true"></i>Login
        </button>
      </div>
    </div>
  </div>
</nav>
