<nav class="navbar is-light">
  <div class="level">
    <div class="level-item">
      <a class="navbar-item">
        <h1 class="title is-size-2">
          <i class="las la-microphone" aria-hidden="true"></i>Podcast Review
        </h1>
      </a>
    </div>
    <div class="level-item">
      <div class="navbar-item">
        <div class="field has-addons">
          <p class="control">
            <input
              id="pr-search"
              class="input"
              type="text"
              size="22"
              placeholder="Podcast title, tag or creator"
            />
          </p>
          <p class="control">
            <button class="button is-info">
              <i class="las la-search" aria-label="Search" title="Search"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="level-item">
      <div class="navbar-item">
        <button id="login" disabled class="button is-primary">
          <i class="las la-user-circle" aria-hidden="true"></i>Login
        </button>
      </div>
    </div>
  </div>
</nav>
