<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1>Podcast Review</h1>
    </a>
    <div class="navbar-item">
      <div class="field has-addons">
        <p class="control">
          <input
            id="pr-search"
            class="input"
            type="text"
            size="25"
            placeholder="Podcast name, tag or creator"
          />
        </p>
        <p class="control">
          <button class="button is-primary">
            Search
          </button>
        </p>
      </div>
    </div>
    <div class="navbar-item">
      <button class="button is-disabled">
        Login
      </button>
    </div>
  </div>
  <div class="navbar-menu"></div>
</nav>
