/* You can add global styles to this file, and also import other style files */

:root {
  --font-title: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

body {
  font-family: var(--font-body);
}

button .las {
  font-size: 28px !important;
  margin-top: -1px;
}
